[submodule "BME280"]
	path = BME280
	url = git@github.com:Ye99/BME280.git
[submodule "MicroPythonLibriaries"]
	path = MicroPythonLibriaries
	url = git@github.com:Ye99/MicroPythonLibriaries.git
[submodule "MicropythonCommonTools"]
	path = MicropythonCommonTools
	url = git@github.com:Ye99/MicropythonCommonTools.git
